<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6" style="border: 2px solid white;">
    <img style="width:100%;height:100%" src="{{object[0].image}}">
  </div>
  <div class="col-lg-3 col-md-7 col-sm-4 col-xs-4" style="border: 2px solid white;">
  <div>
  <h1>{{object[0].name}}</h1>
  </div>
  <div><p style="font-size:20px;color:red">{{object[0].priceUnit}}{{object[0].price}}</p></div>
  <div><p [ngStyle]="getStyles()">{{object[0].description}}</p></div>
  </div>
</div>
<div class="row">
  <ngb-tabset>
    <ngb-tab title="Comments">
      <ng-template ngbTabContent>
        <p>Comments</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Reviews</b></ng-template>
      <ng-template ngbTabContent>
        <p>Reviews</p>
      </ng-template>
    </ngb-tab>
    <!-- <ngb-tab title="Disabled" [disabled]="true">
      <ng-template ngbTabContent>
        <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
      </ng-template>
    </ngb-tab> -->
  </ngb-tabset>
  <button (click)="addToCart()">Add to Cart</button>
</div>

